<!-- your html code here -->
<div class="container px-1 mt-5 mb-5">
    <h2>Portfolio</h2>
    <h7>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
      commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</h7>
    <br>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="">
        <div class="card-body">
          <font color="blue"><h5 class="card-title">Project Name</h5></font>
          <font size="2">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut elit libero. Sed sit
              amet imperdiet felis, non condimentum mi.</p>
          </font>
        </div>
      </div>
      <div class="card mx-4">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="">
        <div class="card-body">
          <font color="blue"><h5 class="card-title">Project Name</h5></font>
          <font size="2">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut elit libero. Sed sit
              amet imperdiet felis, non condimentum mi.</p>
          </font>
        </div>
      </div>
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="">
        <div class="card-body">
          <font color="blue"><h5 class="card-title">Project Name</h5></font>
          <font size="2">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut elit libero. Sed sit
              amet imperdiet felis, non condimentum mi.</p>
          </font>
        </div>
      </div>
    </div>
  </div>